//Basic Font Styles
h1 {font-weight: 600; font-style: normal; font-size: 36px;}
h2 {font-size: 28px; font-weight: 500;}
h3 {font-size: 18px; font-weight: 300;}
.italic {font-style: italic;}
.center {text-align: center;}
a {font-weight: 400; text-decoration: none; color: inherit} 
a:hover {font-weight: 600;}

//Basic Styling
* {font-family: rustica,sans-serif; box-sizing: border-box; letter-spacing: 0.05rem;}
html {width: 100%; overflow-x: hidden; background: #F2F2F2;}
.container {padding: 2rem;}
.dark-green-bg {background: #2B3226; color: white;}
.forest-green-bg {background: #3D5D48; color: white;}
.tan-bg {background:#E3D6C0; color: black!important;}
.button-style { padding: 10px 20px; font-size: 18px; border-radius: 5px; cursor: pointer;}
.button-style:hover {background:#3D5D48; font-weight: 600; }
button {font-family: rustica,sans-serif!important;}
.icon {height: 25px;}
.icon:hover {transform: scale(1.1)}

//Hero Image and Title Text Box
.header-container { width: 100%; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; background-image: url('../assets/course.jpg'); min-height: 25vh;}
@media screen and (max-width: 640px) {.header-container { height: 40vh;}}

// Logo and Navigation Bar
header {background: -moz-linear-gradient(0deg, rgba(98,145,133,0) 0%, rgba(0,0,0,0.95) 95%); background: -webkit-linear-gradient(0deg, rgba(98,145,133,0) 0%, rgba(0,0,0,0.4010197829131653) 95%); background: linear-gradient(0deg, rgba(98,145,133,0) 0%, rgba(0,0,0,0.4010197829131653) 95%); }
.site-header {display: inline-flex; justify-content: space-between; align-items: center; width: 100%; padding: 1rem; margin-bottom: 3rem; }
@media screen and (max-width: 640px) {.external-link {display: none;}}
.site-navigation-list {display: flex; align-items: center; list-style: none;}
.site-navigation-item {list-style: none; display: flex; justify-content: flex-end; align-items: center; padding-left: 10px; color: white;}

//Event Info Card
.welcome-info {width: 100%; margin-top: -10vh; display: flex; align-items: center; justify-content: center;}
.welcome-content { margin: 0rem 2rem; color: white;}

//Featured Sponsorships Cards 
.sold-out .sqs-add-to-cart-button-wrapper {display: none !important}
.sold-out { span.sqs-money-native:after {content: " - Contact Alex Holtzapple for details."; color: gray; font-style: italic;}}
.sold-out {display: none!important;}

.sqs-block-summary-v2 .summary-price .product-price {text-align: right; }
.summary-item {background: #E3D6C0; padding: 1rem; border-radius: 2px;}
.summary-thumbnail {border: 2px solid white;}
.sqs-gallery-meta-container .summary-title-link {font-size: 18px; font-weight: 600;}
.sqs-block-summary-v2 .summary-block-setting-primary-metadata-tags .summary-item-has-tags .summary-metadata--primary {width: 300px;}
.sqs-block-summary-v2 .summary-block-setting-metadata-position-above-title .summary-metadata-container--above-title {width: 100%;}

.sqs-gallery-meta-container {display: inline-flex; flex-wrap: wrap; justify-content: space-between; width: 100%;}
.summary-price {order: 1;}
.summary-excerpt {order: 3; }



.sqs-pill-shopping-cart-content {height: 50px!important; margin-top: 95vh}
.sqs-pill-shopping-cart.sqs-scalable-hidden {display: block!important;}
footer {width: 100vw; text-align: center;}
.back-arrow {display: none;}


.summary-metadata-item--tags {width: 100%;}

.product-quantity-input {
  order: 2 !important;
}
.ProductItem-details .sqs-add-to-cart-button-wrapper {
  order: 3 !important;
}
.ProductItem-details-excerpt {
  order: 4 !important;
}
.product-price {
  order: 5 !important;
}

@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
  h1 {font-size: 28px; line-height: 32px;}
}