
/* CSS pre-processing by {less}. http://lesscss.org/
***************************************************/



/* General syles
***************************************************/

* {font-family: rustica,sans-serif; box-sizing: border-box; letter-spacing: 0.05rem;}
html {width: 100%; border: 2px solid lime; overflow-x: hidden}

body {background-image: url('../assets/img.webp'); background-size: cover; background-repeat: no-repeat;}

h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

}

h2 {font-size: 28px; font-weight: 500;}
.italic {font-style: italic;}
.center {text-align: center;}
a {font-weight: 400; text-decoration: none; color: inherit} 
a:hover {font-weight: 600;}

.container {padding: 3rem;}

@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
}

.button-style {background: #2B3226; color: white; padding: 10px 20px; font-size: 18px; border-radius: 5px;}
.button-style:hover {background:#3D5D48; font-weight: 600; }

header {position: sticky; background: -moz-linear-gradient(0deg, rgba(98,145,133,0) 0%, rgba(0,0,0,0.4010197829131653) 95%); background: -webkit-linear-gradient(0deg, rgba(98,145,133,0) 0%, rgba(0,0,0,0.4010197829131653) 95%); background: linear-gradient(0deg, rgba(98,145,133,0) 0%, rgba(0,0,0,0.4010197829131653) 95%);}
.site-header {display: flex; justify-content: space-between; align-items: center;}
.site-navigation-list {display: flex;}
.site-navigation-item {list-style: none; display: flex; justify-content: flex-end; align-items: center; padding-left: 10px; color: white;}


